doctype html
html.no-js
  head
    base(href='/')
    noscript
      meta(http-equiv='refresh' content='0; URL=sp/')
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title #{title}
    meta(name='description', content='#{description}')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='normalize.css')
    link(rel='stylesheet', href='index.css')

  body
    #canvas-clip
      canvas#main
    #page
      #loading
        div.circle
          canvas
          img(src='images/loading.png')
      #top
        .album-info
          image(src='images/album-jacket.png')
          .info
            | KAMRA - Artificial Emotions
            ul
              li
                a(href='#{link.itunes}', target='_blank') iTunes
              li
                a(href='#{link.amazon}', target='_blank') Amazon
              li
                a(href='#{link.cdbaby}', target='_blank') CD Baby
        .navi
          ul
            li
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#howto') How to play
            li
              | Share :
              a
                img(src='images/button-top-twitter.png')
              a
                img(src='images/button-top-facebook.png')
            li
              span ©KAMRA2015
        include ./includes/play_buttons.jade

      #about
        .mask
          .page
            section#concept(name='concept')
              p.concept(data-i18n='concept') 白い天井の下　ここにあるのは傷んだ肉　馴染まない鉄の容れ物
                br
                br
                | どちらへも振り切れない魂　「もう一度」　私は繰り返す
                br
                br
                | 心は常に一定にしか動かないとしても　精一杯勢いをつけ　同じ所から 同じ方へ
              include ./includes/play_buttons.jade
            section#album(name='album')
              img(src='images/album-jacket.jpg')
              img.album_info(src='images/album-info.png')
            section#kamra(name='kamra')
              img(src='images/profile-kamra.png')
              .info
                p KAMRA
                  span / Yuichi Nakamura
                ul
                  li
                    a.blank(src='#{link.soundcloud}' target='_blank') SoundCloud
                  li
                    a.blank(src='#{link.twitter}' target='_blank') Twitter

              p 理屈や理論ではない感覚に身を任せた音楽スタイルで、自分の世界を作り上げる。ファミコン世代に生まれ育ったために培ったメロディ感と、エレクトロニカに大きく影響を受けたリズム、2つが大きな基礎となっており、さらに2001年より、音楽制作チームinvisible designs lab.の立ち上げメンバーとなり、多くのCM音楽、ゲームサウンドトラック、サウンドロゴ等の数々の音楽制作の携わり、新たな感覚を取り入れ続ける。

              hr.mini

              .colum2
                .colum
                  h3 invisi-dir.
                  p 音楽クリエイティブチーム、インビジブル・デザインズ・ラボが考える、"DIRECTION"つまりクリエイティブの「方向」です。みなさんと新しい価値の共有をテーマにした"インビジブル・デザインズ・ラボ セレクション"として、音楽を軸に多くの新しい価値の提案をするプロデュースとセレクションを行って行く予定です。
                  a(src='http://invisi-dir.com' target='_blank') http://invisi-dir.com
                .colum
                  h3 invisible designs lab.
                  p 大切な事は見えない。見えないものには大きな価値があります。アイデアやイマジネーション、インスピレーション。それらを見える形や新しい発想で表現していく音楽を軸としたクリエイターチームです。
                  a(src='http://invisi.jp' target='_blank') http://invisi.jp
            section#credit(name='credit')
              .colum2
                for credit in credits
                  .credit
                    img(src="images/#{credit.photo}")
                    .info
                      span.part #{credit.part}
                      span.name #{credit.name}
                      a.blank(href="#{credit.url}" target="_blank") #{credit.site}
              include ./includes/play_buttons.jade
        .navi
          ul
            li
              a(href='#concept') Concept
            li /
            li
              a(href='#album') Album
            li /
            li
              a(href='#kamra') KAMRA
            li /
            li
              a(href='#credit') Credit
          button.close
            img(src='images/button-close.png')

      #howto
        .mask
          .page
            .colum2
              .colum
                .header
                  .icon.webcam
                    h3 Webカメラでの体験方法
                .vline.after
                p
                  img(src='images/howto-webcam-01.png')
                  .vline.before
                  .icon.step1
                    h4 トップページで「Webcam」を選択
                  .vline.after
                p
                  img(src='images/howto-webcam-02.png')
                  .vline.before
                  .icon.step2
                    h4 カメラの使用を許可
                  .vline.after
                p
                  img(src='images/howto-webcam-03.png')
                  .vline.before
                  .icon.step3
                    h4 撮影準備
                  .vline
                    ul
                      li メガネ、帽子を取って顔の全体がはっきり見えるようにしてください。
                      li ガイドに合わせて顔を固定してください。
                      li 髪の毛が顔にかからないよう、顔を明るく照らしてください。
                p
                  img(src='images/howto-webcam-04.jpg')
                  .vline.before
                  .icon.step4
                    h4 ガイド表示に顔をあわせる
                  .vline.after
                p
                  img(src='images/howto-webcam-05.jpg')
                  .vline.before
                  .icon.step5
                    h4 顔が認識されると Deja vu 開始

              .colum
                .header
                  .icon.photo
                    h3 写真アップロードでの体験方法
                .vline.after
                p
                  img(src='images/howto-photo-01.png')
                  .vline.before
                  .icon.step1
                    h4 トップページで「Photo」を選択
                  .vline.after
                p
                  img(src='images/howto-photo-02.png')
                  .vline.before
                  .icon.step2
                    h4 写真アップロード準備
                  .vline
                    | 下記のような写真をアップロードしてください。
                    ul
                      li メガネ、帽子は被らず顔の全体がはっきり見える写真
                      li 正面を向き、顔がまっすぐ固定された写真
                      li 髪の毛が顔にかかっていない、顔が明るく照らされた写真
                p
                  img(src='images/howto-photo-03.png')
                  .vline.before
                  .icon.step3
                    h4 写真ファイルをドラッグ＆ドロップするか、クリックで選択しアップロード
                  .vline.after
                p
                  img(src='images/howto-photo-04.jpg')
                  .vline.before
                  .icon.step4
                    h4
                      span 顔認証位置を確認し、
                      span 「OK」で Deja vu 開始
            include ./includes/play_buttons.jade
        .navi
          .header
            img(src='images/howto-heading.png' width='216' height='32')
          button.close
            img(src='images/button-close.png')

      #share
        .share-inner
          button.button-top
            img(src='images/button-top.png')
          .share-buttons
            img(src='images/share-this.png')
            div
              button.button-twitter
                img(src='images/button-twitter.png')
              button.button-facebook
                img(src='images/button-facebook.png')
          button.button-replay
            img(src='images/button-replay.png')

    .noise.overlay

    script(src='libs/preloadjs-0.6.1.min.js')
    script(src='libs/soundjs-0.6.1.min.js')
    script(src='https://use.typekit.net/hfu8yiq.js')
    script(src='bootstrap.js')
