doctype html
html.no-js
  head
    base(href='/')
    noscript
      meta(http-equiv='refresh' content='0; URL=sp/')
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title #{title}
    meta(name='description', content='#{description}')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='normalize.css')
    link(rel='stylesheet', href='index.css')

  body
    #canvas-clip
      canvas#main
    #page
      #loading
        div.circle
          canvas
          img(src='images/loading.png')
      #top
        .album-info
          image(src='images/album-jacket.png')
          .info
            | KAMRA - Artificial Emotions
            ul
              li
                a(href='#{link.itunes}', target='_blank') iTunes
              li
                a(href='#{link.amazon}', target='_blank') Amazon
              li
                a(href='#{link.cdbaby}', target='_blank') CD Baby
        .navi
          ul
            li
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#howto') How to play
            li
              | Share :
              a
                img(src='images/button-top-twitter.png')
              a
                img(src='images/button-top-facebook.png')
            li
              span ©KAMRA2015
        include ./includes/play_buttons.jade

      include ./includes/webcam.jade

      #about
        .mask
          .page
            section#concept(name='concept')
              p.concept()
                span(data-i18n='about.concept.1') #{about.concept.l1}
                br
                br
                span(data-i18n='about.concept.2') #{about.concept.l2}
                br
                br
                span(data-i18n='about.concept.3') #{about.concept.l3}
              include ./includes/play_buttons.jade
            section#album(name='album')
              img(src='images/album-jacket.jpg')
              img.album_info(src='images/album-info.png')
            section#kamra(name='kamra')
              img(src='images/profile-kamra.png')
              .info
                p KAMRA
                  span / Yuichi Nakamura
                ul
                  li
                    a.blank(src='#{link.soundcloud}' target='_blank') SoundCloud
                  li
                    a.blank(src='#{link.twitter}' target='_blank') Twitter

              p(data-i18n='about.kamra') #{about.kamra}

              hr.mini

              .colum2
                .colum
                  h3 invisi-dir.
                  p(data-i18n='about.invisidir') #{about.invisidir}
                  a(src='http://invisi-dir.com' target='_blank') http://invisi-dir.com
                .colum
                  h3 invisible designs lab.
                  p(data-i18n='about.invisibledesignslab') #{about.invisibledesignslab}
                  a(src='http://invisi.jp' target='_blank') http://invisi.jp
            section#credit(name='credit')
              .colum2
                for credit in credits
                  .credit
                    img(src="images/#{credit.photo}")
                    .info
                      span.part #{credit.part}
                      span.name #{credit.name}
                      a.blank(href="#{credit.url}" target="_blank") #{credit.site}
              include ./includes/play_buttons.jade
        .navi
          ul
            li
              a(href='#concept') Concept
            li /
            li
              a(href='#album') Album
            li /
            li
              a(href='#kamra') KAMRA
            li /
            li
              a(href='#credit') Credit
          button.close
            img(src='images/button-close.png')

      #howto
        .mask
          .page
            .colum2
              .colum
                .header
                  .icon.webcam
                    h3(data-i18n='howto.webcam.title') #{howto.webcam.title}
                .vline.after
                p
                  img(src='images/howto-webcam-01.png')
                  .vline.before
                  .icon.step1
                    h4(data-i18n='howto.webcam.s1') #{howto.webcam.s1}
                  .vline.after
                p
                  img(src='images/howto-webcam-02.png')
                  .vline.before
                  .icon.step2
                    h4(data-i18n='howto.webcam.s2') #{howto.webcam.s2}
                  .vline.after
                p
                  img(src='images/howto-webcam-03.png')
                  .vline.before
                  .icon.step3
                    h4(data-i18n='howto.webcam.s3') #{howto.webcam.s3}
                  .vline
                    ul
                      li(data-i18n='howto.webcam.s3_1') #{howto.webcam.s3_1}
                      li(data-i18n='howto.webcam.s3_2') #{howto.webcam.s3_2}
                      li(data-i18n='howto.webcam.s3_3') #{howto.webcam.s3_3}
                p
                  img(src='images/howto-webcam-04.jpg')
                  .vline.before
                  .icon.step4
                    h4(data-i18n='howto.webcam.s4') #{howto.webcam.s4}
                  .vline.after
                p
                  img(src='images/howto-webcam-05.jpg')
                  .vline.before
                  .icon.step5
                    h4(data-i18n='howto.webcam.s5') #{howto.webcam.s5}

              .colum
                .header
                  .icon.photo
                    h3(data-i18n='howto.photo.title') #{howto.photo.title}
                .vline.after
                p
                  img(src='images/howto-photo-01.png')
                  .vline.before
                  .icon.step1
                    h4(data-i18n='howto.photo.s1') #{howto.photo.s1}
                  .vline.after
                p
                  img(src='images/howto-photo-02.png')
                  .vline.before
                  .icon.step2
                    h4(data-i18n='howto.photo.s2') #{howto.photo.s2}
                  .vline
                    span(data-i18n='howto.photo.s2_0') #{howto.photo.s2_0}
                    ul
                      li(data-i18n='howto.photo.s2_1') #{howto.photo.s2_1}
                      li(data-i18n='howto.photo.s2_2') #{howto.photo.s2_2}
                      li(data-i18n='howto.photo.s2_3') #{howto.photo.s2_3}
                p
                  img(src='images/howto-photo-03.png')
                  .vline.before
                  .icon.step3
                    h4(data-i18n='howto.photo.s3') #{howto.photo.s3}
                  .vline.after
                p
                  img(src='images/howto-photo-04.jpg')
                  .vline.before
                  .icon.step4
                    h4
                      span(data-i18n='howto.photo.s4_1') #{howto.photo.s4_1}
                      span(data-i18n='howto.photo.s4_2') #{howto.photo.s4_2}
            include ./includes/play_buttons.jade
        .navi
          .header
            img(src='images/howto-heading.png' width='216' height='32')
          button.close
            img(src='images/button-close.png')

      #share
        .share-inner
          button.button-top
            img(src='images/button-top.png')
          .share-buttons
            img(src='images/share-this.png')
            div
              button.button-twitter
                img(src='images/button-twitter.png')
              button.button-facebook
                img(src='images/button-facebook.png')
          button.button-replay
            img(src='images/button-replay.png')

    .noise.overlay

    script(src='libs/preloadjs-0.6.1.min.js')
    script(src='libs/soundjs-0.6.1.min.js')
    script(src='https://use.typekit.net/#{typekit}.js')
    script(src='bootstrap.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', "#{GA}", 'auto');    
