doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title KAMRA - Deja Vu - Artifitial Intelligence
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../normalize.css')
    link(rel='stylesheet', href='index.css')
    include ./includes/og.jade
  body
    #youtube(data-videoid='#{youtubeId}')
      .bg
        img(src='images/thumbnail.jpg' alt='thumbnail')
      button
        img(src='images/button-play.png' alt='play button')
    #page
      .content
        h2.m-top40 The Special Version of Music Video
        .m-top30(data-i18n='support.description') #{support.description}
        .enviroment.m-top30
          span(data-i18n='support.envitoments') #{support.envitoments}
          ul.s9
            li.check(data-i18n='support.env1') #{support.env1}
            li.check(data-i18n='support.env2') #{support.env2}
            li(data-i18n='support.env3') #{support.env3}
            li(data-i18n='support.env4') #{support.env4}
        hr.mini
        section.concept
          img.i18n(src='images/concept_ja.png', data-i18n='about.conceptimg', alt='concept')
        section.album.m-top40
          img.m-bottom30(src='images/album-jacket.jpg' alt='album jacket')
          h3.m-bottom30 KAMRA - Artificial Emotions
          span Buy via:
          ul.s14
            li
              a.link_itunes.blank(href='#{link.itunes}', target='_blank') iTunes
            li /
            li
              a.link_amazon.blank(href='#{link.amazon}', target='_blank') Amazon
            li /
            li
              a.link_cdbaby.blank(href='#{link.cdbaby}', target='_blank') CD Baby
        hr
        section.kamra
          .col2
            #profile_kamra
            .info
              .name.s19 KAMRA
              span Yuichi Nakamura
              .social
                a.link_soundcloud.blank(href='#{link.soundcloud}', target='_blank') SoundCloud
                br
                a.link_kamratwitter.blank(href='#{link.twitter}', target='_blank') Twitter

          p.m-top30(data-i18n='about.kamra') #{about.kamra}
        hr.mini
        section
          h3 invisi-dir.
          p.m-top30(data-i18n='about.invisidir') #{about.invisidir}
          a.link_invisidir.blank(href='http://invisi-dir.com' target='_blank') http://invisi-dir.com
        hr.mini
        section
          h3 invisible designs lab.
          p.m-top30(data-i18n='about.invisibledesignslab') #{about.invisibledesignslab}
          a.link_invisi.blank(href='http://invisi.jp' target='_blank') http://invisi.jp
        hr
        section.credits
          .col2
            for credit in credits
              .credit.m-bottom30
                .part #{credit.part}
                .name.s12 #{credit.name}
                if credit.url !== undefined
                  a.blank(href="#{credit.url}" target="_blank") #{credit.site}
    .share
      .buttons
        a.button.button_twitter(
          title='Twitter',
          href='http://twitter.com/share',
          onClick="window.open(this.href,'tweetwindow','width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;"
        )
          img(src='images/button-twitter.png' alt='twitter')
        a.button.button_facebook(
          title='Facebook',
          href='http://www.facebook.com/share.php?u=#{social.url}',
          onClick="window.open(this.href,'facebookwindow','width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;"
        )
          img(src='images/button-facebook.png' alt='facebook')
        a.button.button_line.mobile_only(
          title='Line',
          href='line://msg/text/#{social.text}',
          target='_blank'
        )
          img(src='images/button-line.png' alt='line')

    .footer
      button
        img(src='images/button-back.png' alt='top')
      img.copylight(src='images/label-copyligit.png' alt='© KAMRA2015')



    .noise.overlay

    script(src='main.js')
    script(src='https://use.typekit.net/#{typekit}.js')
    script(src='https://www.youtube.com/iframe_api')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', "#{GA}", 'auto');
