#about
  .mask
    .page
      section#concept(name='concept')
        img.i18n(src='images/concept_ja.png', data-i18n='about.conceptimg', alt='concept')
        include ./play_buttons.jade
      section#album(name='album')
        img(src='images/album-jacket.jpg')
        .album_info
          img(src='images/album-info.png')
          .store_link
            span.s14 Buy via:
            ul.s20
              li
                a.link_itunes.blank(href='#{link.itunes}', target='_blank') iTunes
              li /
              li
                a.link_amazon.blank(href='#{link.amazon}', target='_blank') Amazon
              li /
              li
                a.link_cdbaby.blank(href='#{link.cdbaby}', target='_blank') CD Baby
      section#kamra(name='kamra')
        img(src='images/profile-kamra.png')
        .info
          span.s24 KAMRA
          span.s14  / Yuichi Nakamura
          ul
            li
              a.link_kamra_soundcloud.blank(src='#{link.soundcloud}' target='_blank') SoundCloud
            li /
            li
              a.link_kamra_tw.blank(src='#{link.twitter}' target='_blank') Twitter

        p.about_kamra(data-i18n='about.kamra') #{about.kamra}

        hr.mini

        .colum2
          .colum
            h3 invisi-dir.
            p(data-i18n='about.invisidir') #{about.invisidir}
            a.link_invisidir.blank(href='http://invisi-dir.com' target='_blank') http://invisi-dir.com
          .colum
            h3 invisible designs lab.
            p(data-i18n='about.invisibledesignslab') #{about.invisibledesignslab}
            a.link_invisi.blank(href='http://invisi.jp' target='_blank') http://invisi.jp
      section#credit(name='credit')
        .colum2
          for credit in credits
            .credit
              img(src="images/#{credit.photo}")
              .info
                span.part.s14 #{credit.part}
                span.name.s20 #{credit.name}
                if credit.url !== undefined
                  hr.mini
                  a.link_credit.blank.s14(href="#{credit.url}" target="_blank") #{credit.site}

        include ./play_buttons.jade
  .navi
    ul
      li
        a(href='#concept') Concept
      li /
      li
        a(href='#album') Album
      li /
      li
        a(href='#kamra') KAMRA
      li /
      li
        a(href='#credit') Credit
    button.close
      img(src='images/button-close.png')
