#howto
  .mask
    .page
      section.colum2
        .colum
          .header
            .icon.webcam
              h3(data-i18n='howto.webcam.title') #{howto.webcam.title}
          .vline.after
          p
            img(src='images/howto-webcam-01.png')
            .vline.before
            .icon.step1
              h4(data-i18n='howto.webcam.s1') #{howto.webcam.s1}
            .vline.after
          p
            img(src='images/howto-webcam-02.png')
            .vline.before
            .icon.step2
              h4(data-i18n='howto.webcam.s2') #{howto.webcam.s2}
            .vline.after
          p
            img(src='images/howto-webcam-03.png')
            .vline.before
            .icon.step3
              h4(data-i18n='howto.webcam.s3') #{howto.webcam.s3}
            .vline
              ul
                li(data-i18n='howto.webcam.s3_1') #{howto.webcam.s3_1}
                li(data-i18n='howto.webcam.s3_2') #{howto.webcam.s3_2}
                li(data-i18n='howto.webcam.s3_3') #{howto.webcam.s3_3}
          p
            img(src='images/howto-webcam-04.jpg')
            .vline.before
            .icon.step4
              h4(data-i18n='howto.webcam.s4') #{howto.webcam.s4}
            .vline.after
          p
            img(src='images/howto-webcam-05.jpg')
            .vline.before
            .icon.step5
              h4(data-i18n='howto.webcam.s5') #{howto.webcam.s5}

        .colum
          .header
            .icon.photo
              h3(data-i18n='howto.photo.title') #{howto.photo.title}
          .vline.after
          p
            img(src='images/howto-photo-01.png')
            .vline.before
            .icon.step1
              h4(data-i18n='howto.photo.s1') #{howto.photo.s1}
            .vline.after
          p
            img(src='images/howto-photo-02.png')
            .vline.before
            .icon.step2
              h4(data-i18n='howto.photo.s2') #{howto.photo.s2}
            .vline
              span(data-i18n='howto.photo.s2_0') #{howto.photo.s2_0}
              ul
                li(data-i18n='howto.photo.s2_1') #{howto.photo.s2_1}
                li(data-i18n='howto.photo.s2_2') #{howto.photo.s2_2}
                li(data-i18n='howto.photo.s2_3') #{howto.photo.s2_3}
          p
            img(src='images/howto-photo-03.png')
            .vline.before
            .icon.step3
              h4(data-i18n='howto.photo.s3') #{howto.photo.s3}
            .vline.after
          p
            img(src='images/howto-photo-04.jpg')
            .vline.before
            .icon.step4
              h4
                span(data-i18n='howto.photo.s4_1') #{howto.photo.s4_1}
                span(data-i18n='howto.photo.s4_2') #{howto.photo.s4_2}
      include ./play_buttons.jade
      hr.hr_disclaimer
      section#disclaimer(name='disclaimer')
        h3(data-i18n='disclaimer.title') #{disclaimer.title}
        pre(data-i18n='disclaimer.text') #{disclaimer.text}

  .navi
    .header
      img(src='images/howto-heading.png' width='216' height='32')
    button.close
      img(src='images/button-close.png')
