#top
  .album-info
    image(src='images/album-jacket.png')
    .info
      | KAMRA - Artificial Emotions
      ul
        li
          a(href='#{link.itunes}', target='_blank') iTunes
        li
          a(href='#{link.amazon}', target='_blank') Amazon
        li
          a(href='#{link.cdbaby}', target='_blank') CD Baby
  .navi
    ul
      li
        a(href='#') Home
      li
        a(href='#about') About
      li
        a(href='#howto') How to play
      li
        | Share :
        a.button_twitter(
          title='Twitter',
          href='http://twitter.com/share',
          onClick="window.open(this.href,'tweetwindow','width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;"
        )
          img(src='images/button-top-twitter.png')
        a(
          title='Facebook',
          href='http://www.facebook.com/share.php?u=#{social.url}',
          onClick="window.open(this.href,'facebookwindow','width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;"
        )
          img(src='images/button-top-facebook.png')
      li
        span ©KAMRA2015
  include ./play_buttons.jade